

/* 以下是網頁設定 */
/* 以下是網頁設定 */
/* 以下是網頁設定 */


.btn-gotohome {
  text-decoration: none;
  position: relative;
  font-weight: 900;
  color: inherit;
}
.icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.btn-social {
  text-decoration: none;
  position: relative;
  width: 24px;
  height: 24px;
}
.divider-a {
  position: relative;
  border-right: 1px solid var(--primary);
  box-sizing: border-box;
  width: 1px;
  height: 28px;
}

.btn-outline{
  cursor: pointer;
  position: relative;
  font-family: var(--NotoSans);
  font-size: var(--head2);
  font-weight: 700;
  color: var(--primary);
  padding: var(--padding-4) var(--padding-8);
  background-color: transparent;
  border-radius: var(--br-3);
  border: 1px solid;
  display: flex;
  align-items: flex-start;
}
.btn-outline:hover{
  color: var(--btn-outline-hover)
}
.btn-outline:active{
  color: var(--btn-outline-hover);
  background-color: var(--btn-active);
}

.box-btngroup {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.btn-onlytext {
  cursor: pointer;
  font-family: var(--NotoSans);
  position: relative;
  font-size: var(--head2);
  line-height: var(--head2-lineheight);
  font-weight: 900;
  color: var(--bg);
  border: none; /* 去掉边框 */
  background-color: transparent; /* 设置背景色为透明 */
}
.btn-onlytext:hover {
  color: var(--btn-onlytext-hover);
}
.btn-onlytext:active {
  color: var(--btn-active);
}

.header,
.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.box-infoandbutton {
  font-family: var(--NotoSans);
  text-align: left;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--head1);
  color: var(--primary);
}
.header,
.nav {
  align-self: stretch;
}
.nav {
  margin: 0;
  border-radius: var(--br-3);
  background-color: var(--primary);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-10) var(--padding-30);
  gap: 60px;
}
.header {
  flex-direction: column;
  padding: 36px var(--padding-160) 0;
  gap: var(--gap-8);
}
.img-main-pumpkin {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 448px; /*默認高度*/
  flex-shrink: 0;
  object-fit: cover;
}
.box-main-content {
  align-self: stretch;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.box-title-text {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 900;
}
.img-vegetables-carrot-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 140px;
  object-fit: cover;
}
.box-imggroup {
  align-self: stretch;
  border-radius: var(--br-3);
  height: 140px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-16);
}
.box-title,
.box-imggroup,
.box-third-content {
  display: flex;
  justify-content: flex-start;
}
.box-third-content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
  min-width: 320px;
  text-align: left;
  font-size: var(--head2);
  color: var(--bg);
  font-family: var(--NotoSans);
}
.box-title {
  align-self: stretch;
  border-radius: var(--br-3);
  background-color: var(--primary);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-10) var(--padding-30);
}
.divider-b{
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--content-text);
  box-sizing: border-box;
  height: 1px;
}
.expositorytext-style{
  align-self: stretch;
  font-size: var(--text-content);
  color: var(--content-text);
  font-family: var(--NotoSans);
  line-height: 150%;
}
.body,
.box-contactgroup,
.box-secondary-content {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.box-contactgroup {
  background-color: var(--content-bg);
  flex-direction: column;
  padding: var(--padding-16);
  gap: var(--gap-8);
}
.body,
.box-secondary-content {
  gap: var(--gap-24);
}
.box-secondary-content {
  flex-direction: row;
  flex-wrap: wrap;
}
.body {
  flex-direction: column;
  padding: var(--padding-16) var(--padding-160);
}

.box-footer {
  position: relative;
  line-height: 150%;
  align-self: stretch;
  border-radius: var(--br-3);
  background-color: var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 21px 0;
  text-align: left;
  font-size: var(--text-content);
  color: var(--bg);
  font-family: var(--NotoSans);
}

.vegetable-layout-rwd {
  position: relative;
  background-color: var(--bg);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8);
}
